# Bring the follower CAN buses up at 1 Mbit/s once 99-can-names.rules has named them.
# Install: sudo cp local_robot/99-can-up.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules
SUBSYSTEM=="net", ACTION=="add", NAME=="can_?_foll", RUN+="/usr/bin/ip link set $name type can bitrate 1000000", RUN+="/usr/bin/ip link set $name up"
